[package]
name = "ongoing"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = "0.17.3"

[profile.dev.package."*"]
opt-level = 3

[profile.release]
opt-level = "s"
lto = true
codegen-units = 1
strip = true
